.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f4f7fc;
  min-height: 100vh;
  box-sizing: border-box;
}

.hero {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
  line-height: 1.4;
}

.bodyContainer {
  margin: auto;
  width: 100%;
  text-align: left;
}

p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 2rem;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.buttonPrimary,
.buttonSecondary,
.buttonSuccess {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 90%;
}

.buttonPrimary {
  background-color: #4e9bff;
}

.buttonPrimary:hover {
  background-color: #357ab7;
}

.buttonSecondary {
  background-color: #6c757d;
}

.buttonSecondary:hover {
  background-color: #5a6268;
}

.buttonSuccess {
  background-color: #28a745;
}

.buttonSuccess:hover {
  background-color: #218838;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .bodyContainer {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    line-height: 5px;
  }

  .buttonGroup {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    width: auto;
  }

  .buttonPrimary,
  .buttonSecondary,
  .buttonSuccess {
    width: auto;
  }
}
