.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 1rem;
}

.username {
  font-size: 1.75rem;
  font-weight: bold;
  color: #333;
}

.details {
  font-size: 1rem;
  color: #555;
  margin-top: 0.5rem;
}

.error {
  color: red;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.loading {
  font-size: 1rem;
  color: #555;
}

.tableContainer {
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}

.tableTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tableTitle {
  font-size: 1.25rem;
  color: #333;
  margin: 0;
}

.sortButton {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.sortButton:hover {
  background-color: #0056b3;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

.table th {
  background-color: #ececec;
  font-weight: bold;
}

.table td {
  color: #333;
}

.table tr:nth-child(even) {
  background-color: #ececec;
}

.table tr:nth-child(odd) {
  background-color: #f4f7fc;
}

.noScores {
  text-align: left;
  color: #666;
  margin-top: 1rem;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: darkred;
}

@media (min-width: 768px) {
  .tableContainer {
    max-width: 1000px;
  }
}
